.DS_Store
.vscode
.node-red/uibuilder/uibuilder/src/uibuilder.appcache
.node-red/node_modules/
node_modules/
.node-red/uibuilder/.config/*.js
.node-red/uibuilder/uibuilder/src/.*
.node-red/.config.json*
.node-red/.*.json.backup
.node-red/flows_PHGP50-500GB*.json
.node-red/settings_*.js
