body {
    background-image: url('vignoble.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

  }

  h1{
    font: normal normal normal 4em IBM Plex Sans Hebrew;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: bold;
    display: grid;
    justify-content: center;
    align-items: center;
}
  .button{

    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #633CEA;
    border-radius: 6px;
    outline: none;
    display: inline-block;
    margin: auto auto;

  }
  /* Position text in the middle of the page/image */
  .bg-text {
    color: white;
    font: normal normal normal 1em IBM Plex Sans Hebrew;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
