<!doctype html>
<!-- Note that adding an appcache really speeds things up after the first load
    You need to amend the appcache file to meet your needs.
    Don't forget to change the appcache file if you update ANY
    of the files in it otherwise the old versions will ALWAYS be used.
<html lang="en" manifest="./uibuilder.appcache">
-->
<html lang="en">
<!--
    This is the default, template html for uibuilder.
    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically
    update the ui based on incoming/outgoing messages from/to the
    Node-RED server.

    You will want to alter this to suite your own needs. To do so,
    copy this file to <userDir>/uibuilder/<url>/src.
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Node-RED UI Builder</title>
    <meta name="description" content="PAIRS Viti Xplorer">

    <link rel="icon" href="./images/node-blue.ico">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#3f51b5">

    <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Node-RED UI Builder">

    <!-- Used if adding to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Node-RED UI Builder">

    <!-- Homescreen icons for Apple mobile use if required
        <link rel="apple-touch-icon" href="./images/manifest/icon-48x48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./images/manifest/icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="./images/manifest/icon-96x96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./images/manifest/icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="./images/manifest/icon-192x192.png">
    -->

    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />

    <link type="text/css" rel="stylesheet" href="./vitixplore.css" media="all">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
</head>
<body>
  <div id="appViti" v-cloak>
    <b-container id="appViti_container_1">
      <b-img src="./images/node-blue-192x192.png" rounded left v-bind="imgProps" alt="Blue Node-RED" class="mt-1 mr-2"></b-img>
      <h1>PAIRS Viti Xplorer v0.5 page 1</h1>

      <!-- Map view to get started -->
      <div id="vitimapid" style="width: 100%; height: 400px;"></div>
      <b-overlay :show="pageWait" rounded="sm">
      <b-form inline class="border p-3 m-2">
        <b-row>
          <label for="curLat">Latitude</label>
          <b-form-input v-model.number="curPos.lat" id="curLat" type="number" maxlength=10></b-form-input>
          <label for="curLng">Longitude</label>
          <b-form-input v-model.number="curPos.lng" id="curLng" type="number" maxlength=10></b-form-input>
          <b-button id="btn_goTo" pill variant="primary" v-on:click="moveTo">Go!</b-button>
        </b-row>
        <b-row>
          <label for="startDay">start day</label>
          <b-form-input v-model="startDay" type="date" id="startDay" placeholder="start Day"></b-form-input>
          <label for="endDay">end day</label>
          <b-form-input v-model="endDay" type="date" id="endDay" placeholder="end Day"></b-form-input>
          <b-button id="btn_getLayers" pill variant="primary" v-on:click="getLayers">Get Layers</b-button>
        </b-row>
      </b-form>
      </b-overlay>
    </b-container>

    <b-container id="appViti_container_2">
      <b-img src="./images/node-blue-192x192.png" rounded left v-bind="imgProps" alt="Blue Node-RED" class="mt-1 mr-2"></b-img>
      <h1>PAIRS Viti Xplorer v0.5 page 2</h1>
      <p v-if="qryPos">Query results at latitude: {{qryPos.lat}} Longitude: {{qryPos.lng}}</p>
      <table v-if="qryLayers" id="layersListTable" style="color:green;line-height: 80%;">
        <thead>
        <tr><th>Name</th><th>Min</th><th>Mean</th><th>Max</th><th>Range<th></tr>
      </thead>
      <tbody>
        <tr v-for="l in qryLayers">
          <td>{{l.name}}</td><td>{{l.Min.toFixed(2)}}</td><td>{{l.Mean.toFixed(2)}}</td><td>{{l.Max.toFixed(2)}}</td>
          <td><input type="range" v-bind:min="l.Min" v-bind:value="l.Mean" v-bind:max="l.Max" class="slider" v-bind:id="'slider-'+l.layerID"></input></td>
        </tr>
      </tbody>
      </table>
    </b-container>
  </div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""
     integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==">
  </script>

  <script src="./pairs.js"></script>

  <!-- These MUST be in the right order. Note no leading / -->
  <!-- REQUIRED: Socket.IO is loaded only once for all instances
                   Without this, you don't get a websocket connection -->
  <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

  <!-- --- Vendor Libraries - Load in the right order --- -->
  <script src="../uibuilder/vendor/vue/dist/vue.js"></script> <!-- dev version with component compiler -->
  <!-- <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>   prod version with component compiler -->
  <!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
  <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>

  <!-- REQUIRED: Sets up Socket listeners and the msg object -->
  <!-- <script src="./uibuilderfe.js"></script>   //dev version -->
  <script src="./uibuilderfe.min.js"></script> <!--    //prod version -->
  <!-- OPTIONAL: You probably want this. Put your custom code here -->
  <script src="./vitixplore.js"></script>

</body>
</html>
