<!doctype html>
<!-- Note that adding an appcache really speeds things up after the first load
You need to amend the appcache file to meet your needs.
Don't forget to change the appcache file if you update ANY
of the files in it otherwise the old versions will ALWAYS be used.
<html lang="en" manifest="./uibuilder.appcache">
-->
<html lang="en">
<!--
This is the default, template html for uibuilder.
It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically
update the ui based on incoming/outgoing messages from/to the
Node-RED server.

You will want to alter this to suite your own needs. To do so,
copy this file to <userDir>/uibuilder/<url>/src.
-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

  <title>Viti eXplorer</title>
  <meta name="description" content="PAIRS Viti Xplorer">

  <link rel="icon" type="image/svg+xml" href="vitiXplorer.svg" />

  <!-- See https://goo.gl/OOhYW5 -->
  <link rel="manifest" href="./manifest.json">
  <meta name="theme-color" content="#3f51b5">

  <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Node-RED UI Builder">

  <!-- Used if adding to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Node-RED UI Builder">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />
  <link rel="stylesheet" href="../uibuilder/vendor/bootstrap-slider/dist/css/bootstrap-slider.css" />

  <!-- Leaflet -->
  <link rel="stylesheet" href="../uibuilder/vendor/leaflet/dist/leaflet.css" />
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./vitixplore.css" media="all">
  <!-- JQUERY -->
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

  <link rel="stylesheet" type="text/css" href="custom.css ">
</head>

<body>
  <div id="appViti" v-cloak>
    <!-- Menu at the top of the page -->
    <b-container id="appViti_pageSel" class="menu">
      <b-row>
        <b-col></b-col>
        <b-col cols="10" class="menu">
          <b-form-slider class="menu-titles" style="width: 100%;"
            v-model:value="curPage" :min="1" :max="3"
            :ticks='[1, 2, 3]' :ticks-labels="['Location','Filters & Region', 'Result']" tooltip="hide">
          </b-form-slider>
        </b-col>
        <b-col><div v-if='isDev'>DEV</div></b-col>
      </b-row>
    </b-container>

    <!-- Page 1 : choose reference field -->
    <b-container id="appViti_container_1" v-if="curPage==1" class="content">
      <h1 class="title">Location</h1>
      <h2 class="subtitle">Choose the reference field</h2>

      <b-row align-v='end' class="subContent">
        <b-col cols="6">
          <label for="startDay">Start day</label>
          <b-overlay :show="layersDict===null" spinner-type="grow">
            <b-form-datepicker v-model="startDay" id="startDay" size="md" maxlength=10><b-form-datepicker>
          </b-overlay>
        </b-col>
        <b-col cols="6">
          <label for="endDay">End day</label>
          <b-overlay :show="layersDict===null" spinner-type="grow">
            <b-overlay :show="layersDict===null">
              <b-form-datepicker v-model="endDay" id="endDay" size="md" maxlength=10></b-form-datepicker>
              <template v-slot:overlay>
                <!-- <b-icon icon="stopwatch" font-scale="3" animation="cylon"></b-icon> -->
                <p>Loading layers</p>
              </template>
            </b-overlay>
          </b-overlay>
        </b-col>
      </b-row>

      <b-row>
        <div id="refMap" style="width: 100%;  height: 400px;">
          <l-map ref="vitiMap" @ready="onMapReady('vitiMap')">
            <l-control-layers position="topright" ></l-control-layers>
            <l-tilelayer v-for="tileProvider in tileProviders"
                  :url="tileProvider.url"
                  :key="tileProvider.name"
                  :name="tileProvider.name"
                  :visible="tileProvider.visible"
                  :attribution="tileProvider.attribution"
                  layer-type="base">
            </l-tilelayer>
            <l-wms-tile-layer v-if='isDev' v-for="wmsLayer in wmsLayers"
                  :key="wmsLayer.name"
                  :base-url="wmsLayer.baseUrl"
                  :layers="wmsLayer.layers"
                  :visible="wmsLayer.visible"
                  :name="wmsLayer.name"
                  :attribution="wmsLayer.attribution"
                  layer-type="base" :transparent='true' format='image/png'>
            </l-wms-tile-layer>
<!-- <l-marker :lat-lng="[47.413220, -1.219482]"></l-marker> -->
          </l-map>
        </div>
      </b-row>

      <b-row align-v='end' class="subContent">
        <b-col cols="5">
          <label for="refLat" class="labstyle">Latitude</label>
          <b-form-input v-model.number="refPos.lat" size="xs" id="refLat" type="number" maxlength=10></b-form-input>
        </b-col>
        <b-col cols="5">
          <label for="refLng" class="labstyle">Longitude</label>
          <b-form-input v-model.number="refPos.lng" size="xs" id="refLng" type="number" maxlength=10></b-form-input>
        </b-col>
        <b-col cols="2">
          <b-button style="vertical-align: bottom; display: table-cell; float:none;" id="btn_goTo" pill variant="primary" size="lg" @click="moveTo" class="smallButton">Zoom to</b-button>
        </b-col>
      </b-row>


      <b-overlay :show="qryRunning" rounded="sm">
        <b-row>
          <b-button :disabled="layersDict===null" style="display: block;margin: auto auto;height 25px;" id="btn_loadLayers" pill variant="primary" size="sm" @click="loadLayers" class="button">Compute Layers</b-button>
        </b-row>
        <b-row>
          <b-overlay :show="qryRunning" rounded="sm">
            <div v-if="qryRunning">Computing Layers Min-Mean-Max from {{startDay}} to {{endDay}}</div>
            </b-overlay>
          </b-row>
      </b-overlay>
    </b-container>

    <!-- Page 2 : display criterias and choose search field -->
    <b-container id="appViti_container_3" v-if="curPage==2" class="content">
      <!-- Title and map with previous query postition -->
      <b-row>
        <b-col cols="8">
          <h1 class="title">Filters & regions</h1>
          <h3 class="subtitle">Here are the characteristics of the field you have selected. Look at the reference values and adjust them</h3>
        </b-col>
        <b-col cols="4">
          <l-map ref="qryMap" :center="[refPos.lat, refPos.lng]" :zoom="mapZoom">
            <l-control-layers position="topright"  ></l-control-layers>
            <l-tilelayer v-for="tileProvider in tileProviders"
                  :url="tileProvider.url"
                  :key="tileProvider.name"
                  :name="tileProvider.name"
                  :visible="tileProvider.visible"
                  :attribution="tileProvider.attribution"
                  layer-type="base">
            </l-tilelayer>
            <l-wms-tile-layer v-if='isDev' v-for="wmsLayer in wmsLayers"
                 :key="wmsLayer.name"
                 :base-url="wmsLayer.baseUrl"
                 :layers="wmsLayer.layers"
                 :visible="wmsLayer.visible"
                 :name="wmsLayer.name"
                 :attribution="wmsLayer.attribution"
                 layer-type="base" :transparent='true' format='image/png'>
            </l-wms-tile-layer>
            <l-marker v-if="qryPos!=null" :lat-lng="[qryPos.lat, qryPos.lng]"></l-marker>
          </l-map>
        </b-col>
      </b-row>
      <!-- Display results from query -->
      <b-row class="criteriasBox">
        <b-row>
          <b-col cols=12>
            <h3 class="criteriaTitle">Criterias</h3>
          </b-cols>
        </b-row>
        <b-row >
          <b-form class="criterias">
            <!-- To-do : find a way to not have 2 for loop to seperate layers with depths and without depths -->
            <div class="criteria" v-for="l in qryLayers" v-if="!l.dimensions_description">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" :name="'a'+l.id" :value="l.id" checked v-model:checked="criteriasCheck[l.id]">
                <label class="custom-control-label criteriaNameCheckBox" :for="'a'+l.id">{{l.name}} ({{l.humanUnits}})</label>
              </div>
              <br/>
              <span v-if="l.Max">
                <center>
                  <p class="criteriaRefValue">Ref values : [{{l.Min.toFixed(critDigits)}} < {{l.Mean.toFixed(critDigits)}} > {{l.Max.toFixed(critDigits)}}].
                  <br>Chosen value : {{criteriasRange[l.id]}} </p>

                  <b-form-slider class="criteriaSlider" v-if="l.Max > l.Min" style="width: 100%;" :id="'slider_'+l.id"
                    v-model:value="criteriasRange[l.id]"
                    :disabled="!criteriasCheck[l.id]"
                    :min="slPos(l,'Inf',critOff,critExt)"
                    :max="slPos(l,'Sup',critOff,critExt)"
                    :step="(l.Max-l.Min)/100"
                    :ticks="slPos(l,['Inf','Min','Mean','Max','Sup'],critOff,critExt)"
                    :ticks-labels="['Inf','Min', 'Mean','Max','Sup']"
                    :ticks-positions="slPos(l,['Inf','Min','Mean','Max','Sup'],critOff,critExt,100)"
                    :precision="critDigits">
                  </b-form-slider>
                </center>
              </span>
              <span v-if="l.id == 50450">
                <b-form-select v-model="refSoilType" :options="soilTypes"></b-form-select>
                <p class="criteriaRefValue">Ref values : {{l.Mean.toFixed(critDigits)}}</p>
              </span>
              <span v-if="l.id == 50511">
                <b-form-select v-model="refSoilClass" :options="soilClass"></b-form-select>
                <p class="criteriaRefValue">Ref values : {{l.Mean.toFixed(critDigits)}}</p>
              </span>
              <span v-if="(l.id == 50453) || (l.id == 50456)">
                <b-form-slider class="criteriaSlider" style="width: 100%;" :id="'slider_'+l.id"
                  v-model:value="criteriasRange[l.id]"
                  :disabled="!criteriasCheck[l.id]"
                  :ticks="[l.Mean-l*critOff, l.Mean, l.Mean+l.Mean*critOff]"
                  :min="l.Mean-l.Mean*critExt"
                  :max="l.Mean+l.Mean*critExt"
                  :step="((l.Mean+l.Mean*0.1)-(l.Mean-l.Mean*0.1))/100"
                  :precision="critDigits">
                </b-form-slider>
                <p class="criteriaRefValue">Ref values : {{l.Mean.toFixed(critDigits)}}</p>
              </span>
            </div>
            <div class="criteria" v-for="l in qryLayers" v-if="l.dimensions_description">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" :name="'a'+l.id" :value="l.id" checked v-model:checked="criteriasCheck[l.id]">
                <label class="custom-control-label criteriaNameCheckBox" :for="'a'+l.id">{{l.name}} ({{l.humanUnits}})</label>
              </div>
              <br/>
              <span v-for="depth in depths">
                <p class="criteriaRefValue">Ref values : {{l[depth].toFixed(critDigits)}} for depth : {{ humanize(depth) }}.
                <br>Chosen value : {{criteriasRange[l.id][depth]}} </p>
                <b-form-slider class="criteriaSlider" style="width: 100%;" :id="'slider_'+l.id"
                  v-model:value="criteriasRange[l.id][depth]"
                  :disabled="!criteriasCheck[l.id]"
                  :ticks="[l[depth]-l[depth]*critOff, l[depth], l[depth]+l[depth]*critOff]"
                  :min="l[depth]-l[depth]*critExt"
                  :max="l[depth]+l[depth]*critExt"
                  :step="((l[depth]+l[depth]*0.1)-(l[depth]-l[depth]*0.1))/100"
                  :precision="critDigits">
                </b-form-slider>
              </span>
            </div>
          </b-form>
        </b-row>
      </b-row>
      <!-- Select where you want to find similar criterias - AOI -->
      <b-row class="subContent">
        <b-row><h1 class="title">Choose where you want to look for similar field</h1></b-row>
        <b-row class="leftTextAlign subContent"><h2 class="subtitle">Select an area of interest for a new query</h2></b-row>
        <b-row>
          <b-col cols="10">
            <b-form-select v-model="refAOI" @change="chooseAoi">
              <b-form-select-option v-for="aoi in aoisArray" :value="aoi" :key="aoi">{{aoi}}</b-form-select-option>
            </b-form-select>
          </b-col>
          <b-col cols="2">
            <b-button :pressed.sync="rectangleBtnIsPressed" @click="chooseRectangle">Rectangle</b-button>
          </b-col>
        </b-row>

        <!-- Select where you want to find similar criterias - Map -->
        <!-- <h2 class="subtitle">Or draw a rectangle on the map of the area of interest</h2> -->
        <b-row>
          <b-col cols="12">
            <div id="areaSelMap" style="width: 100%;  height: 400px;">
              <l-map ref="areaSelMap" :center="[refPos.lat, refPos.lng]" :zoom="mapZoom" @ready="onMapReady('areaSelMap')">
                <l-control-layers position="topright"  ></l-control-layers>
                <l-tilelayer v-for="tileProvider in tileProviders"
                      :url="tileProvider.url"
                      :key="tileProvider.name"
                      :name="tileProvider.name"
                      :visible="tileProvider.visible"
                      :attribution="tileProvider.attribution"
                      layer-type="base">
                </l-tilelayer>
                <l-wms-tile-layer v-if='isDev' v-for="wmsLayer in wmsLayers"
                     :key="wmsLayer.name"
                     :base-url="wmsLayer.baseUrl"
                     :layers="wmsLayer.layers"
                     :visible="wmsLayer.visible"
                     :name="wmsLayer.name"
                     :attribution="wmsLayer.attribution"
                     layer-type="base" :transparent='true' format='image/png'>
                </l-wms-tile-layer>
              </l-map>
            </div>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="12">
            <center>
              <button v-if="!rectangleBtnIsPressed" :disabled="refAOI===null" class="button" @click="launchScoringQuery">Run query</button>
              <button v-if="rectangleBtnIsPressed" :disabled="rectanglePos===null" class="button" @click="launchScoringQuery">Run query</button>
            </center>
          </b-col>
        </b-row>

        <!-- Select if you want to display previous queries -->
        <b-row class="leftTextAlign subContent"><h2 class="subtitle">Or display a query you've already made</h2></b-row>
        <b-row class="smallText">
          <b-col cols=10>
            <b-form-select v-model="selQueryJob">
              <b-form-select-option v-for="qj in queryJobs" v-if="qrySelAll || !qj.status.startsWith('Failed')" :value="qj" :key="'selQJ_'+qj.id">[{{qj.status}}]: {{qj.nickname}}</b-form-select-option>
            </b-form-select>
          </b-col>
          <b-col cols=2>
            <button :disabled="selQueryJob===null" class="smallButton" @click="showQueryJob">Show query</button>
          </b-col>
        </b-row>

        <b-row v-if='isDev'>
          <b-col cols=2>
            <b-form-checkbox v-model="qrySelAll">Display failed queries</b-form-checkbox>
          </b-col>
          <b-col cols=2>
            <button :disabled="selQueryJob===null" class="smallButton" @click="deleteQueryJob">Delete query</button>
          </b-col>
        </b-row>

      </b-row>
    </b-container>

    <!-- Page 3 : display results -->
    <b-container id="appViti_container_result" v-if="curPage===3" class="content">
      <b-row>
        <h1 class="title">Scoring {{scoring.inProgress?'in progress':'Results'}}</h1>

        <b-overlay :show="scoring.inProgress" rounded="sm">
          <h2 class="subtitle"  v-if="scoring.inProgress">Scoring Query Running</h2>
        </b-overlay>
        <h2 class="subtitle" v-if="scoring.inProgress">{{scoring.status}} {{scoring.exPercent}}% {{Math.round((scoring.since)/1000)}} s {{scoring.since}}ms</h2>
      </b-row>
      <b-row>
        <b-col class="legendContainer" cols="2">
          <div v-if="legend">
            <h3 class="subtitle">{{legend.name}}</h3>
            <p class="subtitle">{{legend.humanUnits}}</p>
            <div class="legend" v-for="color in legend.colorMap" v-if="color.label !== 'NO_DATA'">
              <div :style="{background: color.color}" class="colorSquare" >
                <p class="legendText" >{{ color.label }}</p>
              </div>
            </div>
          </div>
          <div class="noLegend" v-else>Legend not available</div>
          <div v-if="isDev">
            <b-form-slider class="menu-titles" style="width: 100%;" v-model:value="scoringLayerOpacity" :min="1" :max="100" handle="triangle"></b-form-slider>
          </div>
        </b-col>
        <b-col cols="10">
          <div id="scoringMap" style="width: 100%;  height: 600px;">
            <!-- <l-map ref="scoringMap" v-once :center="[mapCenter.lat, mapCenter.lng]" :zoom="mapZoom" @ready="onMapReady('scoringMap')"> -->
            <!-- <l-map ref="scoringMap" :zoom="mapZoom" @ready="onMapReady('scoringMap')"> -->
            <l-map ref="scoringMap" v-once :center="[refPos.lat, refPos.lng]" :zoom="mapZoom" @ready="onMapReady('scoringMap')">
              <l-control-layers position="topright"></l-control-layers>
              <l-tilelayer v-for="tileProvider in tileProviders"
                    :url="tileProvider.url"
                    :key="tileProvider.name"
                    :name="tileProvider.name"
                    :visible="tileProvider.visible"
                    :attribution="tileProvider.attribution"
                    layer-type="base">
              </l-tilelayer>
              <l-wms-tile-layer v-if='isDev' v-for="wmsLayer in wmsLayers"
                   :key="wmsLayer.name"
                   :base-url="wmsLayer.baseUrl"
                   :layers="wmsLayer.layers"
                   :visible="wmsLayer.visible"
                   :name="wmsLayer.name"
                   :attribution="wmsLayer.attribution"
                   layer-type="base" :transparent='true' format='image/png'>
              </l-wms-tile-layer>
              <!-- <l-marker v-if="qryPos!=null" :lat-lng="[qryPos.lat, qryPos.lng]"></l-marker> -->
            </l-map>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>

  <!-- These MUST be in the right order. Note no leading /
  </RP>EQUIRED: Socket.IO is loaded only once for all instances
  Without this, you don't get a websocket connection -->
  <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

  <!-- --- Vendor Libraries - Load in the right order --- -->
  <script src="../uibuilder/vendor/vue/dist/vue.js"></script>
  <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>

  <script src="../uibuilder/vendor/bootstrap-slider/dist/bootstrap-slider.js"></script>
  <script src="../uibuilder/vendor/vue-bootstrap-slider/dist/vue-bootstrap-slider.js"></script>
  <!-- <script src="../uibuilder/vendor/vue-bootstrap-slider/es/form-slider.js"></script> -->

  <!-- leaflet package needs to be installed in uibuilder library -->
  <script src="../uibuilder/vendor/leaflet/dist/leaflet.js"></script>
  <script src="../uibuilder/vendor/vue2-leaflet/dist/vue2-leaflet.min.js"></script>

  <!-- REQUIRED: Sets up Socket listeners and the msg object -->
  <!-- <script src="./uibuilderfe.js"></script>   //dev version -->
  <script src="./uibuilderfe.min.js"></script> <!--    //prod version -->

  <!-- OPTIONAL: You probably want this. Put your custom code here -->
  <script src="./pairs.js"></script>
  <script src="./vitixplore.js"></script>

</body>
</html>
