<!doctype html>
<!-- Note that adding an appcache really speeds things up after the first load
    You need to amend the appcache file to meet your needs.
    Don't forget to change the appcache file if you update ANY
    of the files in it otherwise the old versions will ALWAYS be used.
<html lang="en" manifest="./uibuilder.appcache">
-->
<html lang="en">
<!--
    This is the default, template html for uibuilder.
    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically
    update the ui based on incoming/outgoing messages from/to the
    Node-RED server.

    You will want to alter this to suite your own needs. To do so,
    copy this file to <userDir>/uibuilder/<url>/src.
-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Node-RED UI Builder</title>
    <meta name="description" content="PAIRS Viti Xplorer">

    <link rel="icon" href="./images/node-blue.ico">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="#3f51b5">

    <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Node-RED UI Builder">

    <!-- Used if adding to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Node-RED UI Builder">

    <!-- Homescreen icons for Apple mobile use if required
        <link rel="apple-touch-icon" href="./images/manifest/icon-48x48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./images/manifest/icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="./images/manifest/icon-96x96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./images/manifest/icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="./images/manifest/icon-192x192.png">
    -->

    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css" />

    <link rel="stylesheet" href="../uibuilder/vendor/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" href="../uibuilder/vendor/bootstrap-slider/dist/css/bootstrap-slider.css" />

    <link type="text/css" rel="stylesheet" href="./vitixplore.css" media="all">
</head>
<body>
  <div id="appViti" v-cloak>
    <b-container id="appViti_pageSel" class="menu">
      <!-- <b-row>
        <b-form-input id="pageSel" type="range" class="slider" min=1 max=4 v-model:value="curPage" />
      </b-row> -->
      <b-row>
        <b-col></b-col>
        <b-col cols="10" class="menu">
          <b-form-slider class="menu-titles" style="width: 100%;"
                v-model:value="curPage" :min="1" :max="4" :step="1"
                :ticks='[1, 2, 3, 4]' :ticks-labels="['Location', 'Layers Details','Filters & Region', 'Result']" tooltip="hide"></b-form-slider>
        </b-col>
        <b-col></b-col>
      </b-row>
      
    </b-container>

    <b-container id="appViti_container_1" v-if="curPage==1" class="content">
      <b-row>
        <!-- <b-col></b-col> -->
        <b-col >
          <h1 class="title">Location</h1>
          <h2 class="subtitle">Choose the reference field</h2>

          <div id="refMap" style="width: 100%;  height: 400px;">
            <l-map ref="vitiMap" @ready="onMapReady('vitiMap')">
              <l-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tilelayer>
              <!-- <l-marker :lat-lng="[47.413220, -1.219482]"></l-marker> -->
            </l-map>
          </div>
        </b-col>
      </b-row>
      <b-overlay :show="qryRunning" rounded="sm">
        <b-form inline>
          <b-row>
            <b-col cols="2">
              <label for="refLat">Latitude</label>
            </b-col><b-col cols="3">
              <b-form-input v-model.number="refPos.lat" size="sm" id="refLat" type="number" maxlength=10></b-form-input>
            </b-col><b-col cols="2">
              <label for="refLng">Longitude</label>
            </b-col><b-col cols="3">
              <b-form-input v-model.number="refPos.lng" size="sm" id="refLng" type="number" maxlength=10></b-form-input>
            </b-col><b-col cols="2">
              <b-button id="btn_goTo" pill variant="primary" size="sm" v-on:click="moveTo" class="smallButton">Zoom to</b-button>
            </b-col>
          </b-row>

          <b-row v-if="layersDict">
            <b-col cols="2">
              <label for="startDay">Start day</label>
            </b-col><b-col cols="3">
              <b-form-input v-model="startDay" type="date" size="sm" id="startDay" placeholder="start Day"></b-form-input>
            </b-col><b-col cols="2">
              <label for="endDay">End day</label>
            </b-col><b-col cols="3">
              <b-form-input v-model="endDay" type="date" size="sm" id="endDay" placeholder="end Day"></b-form-input>
            </b-col><b-col cols="2"></b-col>
            <b-button id="btn_loadLayers" pill variant="primary" size="sm" v-on:click="loadLayers" class="button">Compute Layers</b-button>
          </b-row>
          <b-row v-if="aoisDict">
            <b-col cols="2">
              <p>Area of interest</p>
            </b-col><b-col cols="5">
              <b-form-select v-model="refAOI">
                <b-form-select-option v-for="aoi in aoisDict" :value="aoi.id">{{aoi.name}}</b-form-select-option>
              </b-form-select>
            </b-col><b-col cols="5">
            </b-col>
          </b-row>
        </b-form>
      </b-overlay>
      <b-row>
        <div v-if="qryRunning">Computing Layers Min-Mean-Max from {{startDay}} to {{endDay}}</div>
      </b-row>
    </b-container>

    <b-container id="appViti_container_2" v-if="curPage===2">
      <b-row>
      <!-- <b-img src="./images/node-blue-192x192.png" rounded left v-bind="imgProps" alt="Blue Node-RED" class="mt-1 mr-2"></b-img> -->
      <!-- <h1>PAIRS Viti Xplorer v0.6 page 2</h1> -->
      <p v-if="qryPos===null">No Query has run yet</p>
      <p v-if="qryPos">Query results at latitude: {{qryPos.lat.toFixed(4)}} Longitude: {{qryPos.lng.toFixed(4)}}</p>
      <table v-if="qryLayers" id="layersListTable" style="color:green;line-height: 80%;">
        <thead><tr>
          <th>Name</th><th>Min</th><th>Mean</th><th>Max</th>
          <th>Description</th><!-- <th>description_short</th> -->
          <!-- <th>description_long</th> -->
          <th>Data Type</th><!-- <th>datatype</th> -->
          <!-- <th>level</th> -->
          <!-- <th>rating</th> -->
          <!-- <th>permanence</th> -->
          <!-- <th>type</th> Seems to always be R and true -->
          <th>Unit</th><!-- <th>units</th> -->
          <!-- <th>unit</th> always same as units or unspecified-->
          <th>Range<th>
        </tr></thead>
      <tbody>
        <tr v-for="l in qryLayers" v-b-tooltip.hover v-bind:title="l.description_long" data-placement="top">
          <td>{{l.name}}</td><td>{{l.Min.toFixed(critDigits)}}</td><td>{{l.Mean.toFixed(critDigits)}}</td><td>{{l.Max.toFixed(critDigits)}}</td>
          <td>{{l.description_short}}</td>
          <!-- <td>{{l.description_long}}</td> -->
          <td>{{l.datatype}}</td>
          <!-- <td>{{layersDict[l.id]['level']}}</td> -->
          <!-- <td>{{layersDict[l.id]['rating']}}</td> -->
          <!-- <td>{{layersDict[l.id].permanence}}</td> -->
          <!-- <td>{{layersDict[l.id].type}}</td> -->
          <td>{{l.humanUnits}}</td>
          <!-- <td>{{layersDict[l.id]['unit']}}</td> -->
          <td><input type="range" v-bind:min="l.Min" v-bind:value="l.Mean" v-bind:max="l.Max" class="slider" v-bind:id="'slider-'+l.id"></input></td>
        </tr>
      </tbody>
      </table>
      </b-row><b-row>
      <div><b-form-checkbox v-model="test.status" :value="true" :unchecked-value="false">Show Test</b-form-checkbox>
        <div>State: <strong>{{ test.status }}</strong></div>
      </div>
      </b-row>
        <b-form inline v-if="test.status">
      <b-row>
          <!-- <b-col cols=4> -->
        <b-form-input v-model.number="test.l.Min" size="sm" type="number" maxlength=10></b-form-input>
        <b-form-input v-model.number="test.l.Mean" size="sm" type="number" maxlength=10></b-form-input>
        <b-form-input v-model.number="test.l.Max" size="sm" type="number" maxlength=10></b-form-input>
      <!-- </b-col> -->
      </b-row><b-row>
        <!-- <b-col cols=6> -->
          <b-form-input v-model.number="test.so" size="sm" type="number" maxlength=10></b-form-input>
          <b-form-input v-model.number="test.sx" size="sm" type="number" maxlength=10></b-form-input>
        <!-- </b-col> -->
      </b-row><b-row>
        <!-- <b-col cols=12> -->
          <b-form-slider style="width: 100%;"
                v-bind:min="slPos(test.l,'Inf',test.so,test.sx)"
                v-bind:value="slPos(test.l,['Low','Up'],test.so,test.sx)"
                v-bind:max="slPos(test.l,'Sup',test.so,test.sx)"
                v-bind:ticks="slPos(test.l,['Inf','Min','Mean','Max','Sup'],test.so,test.sx)"
                :ticks-labels="['Inf','Min', 'Mean','Max','Sup']"
                v-bind:ticks-positions="slPos(test.l,['Inf','Min','Mean','Max','Sup'],test.so,test.sx,100)"
                :step="(test.l.Max-test.l.Min)/100"
                :precision="2">
          </b-form-slider>
        <!-- </b-col> -->
      </b-row><b-row>
        {{slPos(test.l,['Inf','Min','Low','Mean','Up','Max','Sup'],test.so,test.sx)}}
      </b-row>

      </b-form>
    </b-container>

    <b-container id="appViti_container_3" v-if="curPage==3" class="content">
      <b-row >
        <b-col cols="12">
          <h1 class="title">Select Area of interest</h1>
          <b-form-select v-model="refAOI">
            <b-form-select-option v-for="aoi in aoisDict" :value="aoi.id">{{aoi.name}}</b-form-select-option>
          </b-form-select>
          <!-- <b-row>
            <b-col cols=8> -->
              <center>
                <b-button class="button_score" :disabled="refAOI===null">Score<div v-if="refAOI"> {{aoisDict[refAOI].name}}</div></b-button>
              </center>
              Off <b-form-input v-model="critOff"></b-form-input>
              Ext <b-form-input v-model="critExt"></b-form-input>
              <b-button @click="initCriterias(critOff,critExt)">Reset</b-button>
            <!-- </b-col>
          </b-row> -->

        </b-col>
        <b-col cols="4">
          <!-- <l-map ref="qryMap" @ready="onMapReady('qryMap')"> -->
          <l-map ref="qryMap" :center="[mapCenter.lat, mapCenter.lng]" :zoom="mapZoom" v-if="qryPos!=null">
            <l-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tilelayer>
            <l-marker :lat-lng="[qryPos.lat, qryPos.lng]"></l-marker>
          </l-map>
        </b-col>
      </b-row>
      <b-row class="criteriasBox">
        <b-row>
          <b-col cols=12>
            <h3 class="criteriaTitle">Criterias</h3>
          </b-cols>
        </b-row>
        <b-row >
          <b-form class="criterias">
            <!-- <b-col cols="4" v-for="l in qryLayers" class="criterias"> -->
              <div class="criteria" v-for="l in qryLayers">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" :name="'a'+l.id" :value="l.id" checked v-model="checkedLayers">
                  <label class="custom-control-label criteriaNameCheckBox" :for="'a'+l.id">{{l.name}} ({{l.humanUnits}})</label>
                </div>
                <!-- <div class="criteriaUnitCheckBox">{{l.convUnits}}</div> -->
                <br/>
                <center>
                  <!-- <input type="range" :min="l.Min" :max="l.Max" :value="l.Mean" class="custom-range" :id="'select_'+l.id"
                        v-b-tooltip.hover v-bind:title="l.description_long" data-placement="top"> -->
                <b-form-slider class="criteriaSlider"v-if="l.Max > l.Min" style="width: 100%;" :id="'slider_'+l.id"
                    v-bind:min="slPos(l,'Inf',critOff,critExt)"
                    v-model:value="criterias[l.id]"
                    v-bind:max="slPos(l,'Sup',critOff,critExt)"
                    v-bind:ticks="slPos(l,['Inf','Min','Mean','Max','Sup'],critOff,critExt)"
                    :ticks-labels="['Inf','Min', 'Mean','Max','Sup']"
                    v-bind:ticks-positions="slPos(l,['Inf','Min','Mean','Max','Sup'],critOff,critExt,100)"
                    :step="(l.Max-l.Min)/100"
                    :precision="critDigits">
              </b-form-slider>
                <!-- precision -->
                <!-- :ticks-positions="[0,25,50,75,100]" -->
                <!-- handle='triangle' -->
              </center>
                <!-- <p class="criteriaRefValue">Ref values : [{{l.Min.toFixed(4)}} < {{l.Mean.toFixed(4)}} > {{l.Max.toFixed(4)}}] Unit : {{l.convUnits}}</p> -->
                <p class="criteriaRefValue">Ref values : [{{l.Min.toFixed(critDigits)}} < {{l.Mean.toFixed(critDigits)}} > {{l.Max.toFixed(critDigits)}}] Unit : {{l.humanUnits}}</p>
              <!-- <p>{{criterias[l.id]}}</p> -->
              </div>
            <!-- </b-col> -->
          </b-form>
        </b-row>
      </b-row>

      <b-row>
        <b-col cols=8>
          <center>
            <button class="button" v-on:click="getResults">Validate</button>
          </center>
        </b-col>
      </b-row>

    </b-container>

    <b-container id="appViti_container_4" v-if="curPage===4">

    </b-container>
  </div>

  <!-- These MUST be in the right order. Note no leading / -->
  <!-- REQUIRED: Socket.IO is loaded only once for all instances
                   Without this, you don't get a websocket connection -->
  <script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

  <!-- --- Vendor Libraries - Load in the right order --- -->
  <script src="../uibuilder/vendor/vue/dist/vue.js"></script> <!-- dev version with component compiler -->
  <!-- <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>   prod version with component compiler -->
  <!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
  <script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>

  <script src="../uibuilder/vendor/bootstrap-slider/dist/bootstrap-slider.js"></script>

  <script src="../uibuilder/vendor/vue-bootstrap-slider/dist/vue-bootstrap-slider.js"></script>
  <!-- <script src="../uibuilder/vendor/vue-bootstrap-slider/es/form-slider.js"></script> -->

  <!-- leaflet package needs to be installed in uibuilder library -->
  <script src="../uibuilder/vendor/leaflet/dist/leaflet.js"></script>
  <script src="../uibuilder/vendor/vue2-leaflet/dist/vue2-leaflet.min.js"></script>

  <!-- REQUIRED: Sets up Socket listeners and the msg object -->
  <!-- <script src="./uibuilderfe.js"></script>   //dev version -->
  <script src="./uibuilderfe.min.js"></script> <!--    //prod version -->

  <!-- OPTIONAL: You probably want this. Put your custom code here -->
  <script src="./pairs.js"></script>
  <script src="./vitixplore.js"></script>

</body>
</html>
