/* Cloak elements on initial load to hide the possible display of {{ ... }}
 * Add to the app tag or to specific tags
 * To display "loading...", change to the following:
 *    [v-cloak] > * { display:none }
 *    [v-cloak]::before { content: "loading…" }
 */
[v-cloak] { display: none; }

/*  Colours for Syntax Highlighted pre's */
.syntax-highlight {color:white;background-color:black;padding:5px 10px;}
.syntax-highlight > .key {color:#ffbf35}
.syntax-highlight > .string {color:#5dff39;}
.syntax-highlight > .number {color:#70aeff;}
.syntax-highlight > .boolean {color:#b993ff;}

/* -- General -- */
body {
	background-color: #F8F8F8;
	width: 100%;
}
.parameters {
	justify-content: space-around !important;
}
.row {
	width: 100%;
	margin: 5px 0;
	justify-content: center;
}
.content {
	background-color: white;
	margin-top: 20px;
	padding: 2%;
}
.stepButton {
	background: #633CEA 0% 0% no-repeat padding-box;
	border-radius: 5px !important;
	color : white;
	border: 0px;
	width: 30%;
	height: 40px;
	margin: 10px 0px;
}
.button {
	background: #633CEA 0% 0% no-repeat padding-box;
	border-radius: 5px !important;
	color : white;
	border: 0px;
	width: 30%;
	height: 40px;
	margin: 10px 0px;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary.disabled, .btn-primary:disabled {
	background: #633CEA 0% 0% no-repeat padding-box;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #633ceae6;
}
.smallButton {
	background: #633CEA 0% 0% no-repeat padding-box;
	border-radius: 5px !important;
	color : white;
	border: 0px;
	font-size: 0.9em;
	padding: 5%;
	height: calc(1.5em + .75rem + 2px);
	width: 100%;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	background: #633CEA 0% 0% no-repeat padding-box;
}

#appViti_container_1, .form-control {
	font-size: 0.95em;
}

.subContent {
	margin-top: 2%;
}

.smallText {
	font-size: 0.9em;
}

.leftTextAlign {
	justify-content: left;
}

/* -- Menu Selection / Etapes -- */

.menu {
	background-color: white;
	margin-top: 20px;
	font: normal normal 600 20px/25px IBM Plex Sans;
	color: #212121;
	opacity: 1;
	font-size: 1em;
	padding: 1%;
}
.menu-titles {
	display: flex ;
	justify-content: space-around;
}

.custom-control-input {
	z-index: 1;
	top: 1rem;
}
.button_score {
	background: #633CEA 0% 0% no-repeat padding-box;
	/* border-radius: 5px !important; */
	color : white;
	border: 0px;
	/*width: 30%;*/
	/* height: 40px; */
	margin: 10px 0px;
}

.slider-tick, .slider-tick.round.in-selection, .slider-handle, .slider.slider-horizontal, .slider-track  {
	opacity: 1;
	box-shadow: none;
}

.slider.slider-horizontal .slider-track {
	background: #D9DBE5;
	height: 2px;
}
.slider-selection.tick-slider-selection {
	background: #633CEA;
}

.menu .slider-tick  {
	background: #D9DBE5;
	height: 12px;
	width: 12px;
}
.menu .slider-tick.round.in-selection {
	background: #633CEA;
	height: 12px;
	width: 12px;
}

.menu .slider-handle {
	background: #633CEA;
	height: 12px;
	width: 12px;
}
/* -- Criterias -- */

.criteriasBox {
	border: 1px solid #D9DBE5;
	border-radius: 5px;
	opacity: 1;
	margin: 10px;
}
.criterias {
	display: flex;
	align-content: stretch;
	flex-wrap: wrap;
	width: 100%;
}
.criteria {
	width: 30%;
	margin: 0 1.5%;
	border-bottom: 1px solid #F8F8F8;
}

/* Checkbox */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #633CEA;
	content: '';
	position: absolute;
}
.custom-control-label:before {
  background-color: white;
}

/* Sliders */

.criteriaSlider {
	width: 90% !important;
}
.criteria .slider-tick-label {
	font-size: 0.8em;
	color: #83858F;
}
.slider.slider-horizontal {
	width: 100%;
}

.criteriasBox .slider-handle, .slider-tick.round.in-selection {
	background: #633CEA;
	height: 10px;
	width: 10px;
}
.criteriasBox .slider-tick {
	background: #D9DBE5;
	height: 10px;
	width: 10px;
}


/* When checkbox is not selected */
.slider-disabled .slider-tick.round.in-selection {
	background: #D9DBE5;
	height: 10px;
	width: 10px;
	box-shadow: none;
}
.slider-disabled .slider-selection.tick-slider-selection {
	background: #D9DBE5;
}


/* -- TITLES & FONTS-- */

.title {
	text-align: center;
	font: normal normal bold 1.2em IBM Plex Sans;
	/*font: normal normal bold 28px/37px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #212121;
	opacity: 1;
}
.subtitle {
	text-align: center;
	font: normal normal normal 1em IBM Plex Sans;
	/*font: normal normal normal 18px/23px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #83858F;
	opacity: 1;
}

.criteriaTitle {
	text-align: center;
	font: normal normal bold 1.1em IBM Plex Sans;
	/*font: normal normal bold 19px/24px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #212121;
	opacity: 1;
	margin-top: 10px;
}
.criteriaNameCheckBox {
	text-align: left;
	font: normal normal normal 0.9em IBM Plex Sans;
	/*font: normal normal normal 18px/23px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #212121;
	opacity: 1;
	margin-top: 15px;
}
.criteriaUnitCheckBox {
	text-align: right;
	font: normal normal bold italic 0.9em IBM Plex Sans;
	/*font: normal normal normal 18px/23px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #212121;
	opacity: 1;
}
.criteriaRefValue {
	text-align: left;
	font: normal normal normal 0.8em IBM Plex Sans;
	/*font: normal normal normal 12px/15px IBM Plex Sans;*/
	letter-spacing: 0px;
	color: #212121;
	opacity: 1;
	color: #83858F;
}

.btnCompute {
	display: flex;
	margin:0 auto;
	align-items:center;
}

.labstyle{
	align-content: center;
}


/* - Legend - */
.colorSquare {
	width: 20px;
	height: 20px;
}

.legendText {
	margin-left: 25px;
}

.legend {
	margin-bottom: 5px;
	font-size: 0.9em;
}
.legendContainer {
	box-shadow: 0px 0px 5px 1px lightgrey;
	height: fit-content;
	padding: 10px;
	color: black;
}
.noLegend {
	color: grey;
	font-size: 0.8em;
	text-align: center;
}

